<div class="contiainer-fluid">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active" *ngFor="let item of bannerResults; let i = index"
                [ngClass]="{active : i === 1}" data-bs-interval="1000">
                <img src="https://image.tmdb.org/t/p/original/{{item.backdrop_path}}" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <h2>{{ item.original_title ? item.original_title : item.name }}</h2>
                    <p>{{ item.overview }}</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!-- Trending  -->
<div class="container mt-3 mb-3 p-3">
    <div class="row" *ngIf="trendingResults.length">
        <h5 class="text-white">T lorem lorem</h5>
        <div class="rowposter">
            <div class="img-wrapper" *ngFor="let item of trendingResults">
                <img src="https://image.tmdb.org/t/p/original/{{item.poster_path}}" class="rowimg largeposter" alt=""
                    [routerLink]="['/movie', item.id]">
            </div>
        </div>
    </div>
</div>