@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background: #1f1f1f;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
span {
  display: inline-block;
}

button,
a {
  cursor: pointer;
}

p {
  color: #ffffff;
}

img {
  opacity: 0.1;
}
